body::before{
    display: block;
    content: '';
    height: 80px;
}
.text1{
    width: 143px;
}
.right {
    /* border: 1px solid; */
    height: 83px;
}
.profile{
    width: 120px;
    height: 48px;
}
.profile h3 {
    font-size: 20px;
}

.yy::before{
    content: 'View all ';
    color: blue;
    position: absolute;
    top: 840px;
    left: 820px;
}

.colums-cal{
    border-radius: 4px;
    width: 30px;
    height: 30px;
    background: #e2e0e096;
}
.colums-cal2{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.kk{
    border-radius: 4px;
    width: 15px;
    height: 15px;
    background: #e2e0e096;
}
.okl p{
    font-size: 10px;
    margin: 0 5px;
}
.okls p{
    font-size: 13px;
    margin: 0 5px;
}